<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="") }}/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="") }}/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="") }}/icons/favicon-16x16.png">
    <link rel="manifest" href="{{ get_url(path="") }}/icons/site.webmanifest">
    <link rel="mask-icon" href="{{ get_url(path="") }}/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space Mono">
    <link rel="stylesheet" href="{{ get_url(path="") }}/style.css">
    {% block headadd %}
    {% endblock %}
</head>

<body>
    <header class="topbanner">
        <div class="lefttitle">
            <h1><a href="{{ get_url(path="") }}">cooltexts</a></h1>
        </div>
        <ul>
            <!-- <li><a href="{{ get_url(path="/si/") }}">SI archive</a></li> -->
            <!-- <li><a href="{{ get_url(path="/pashukanis/") }}">Pashukanis archive</a></li> -->
            <li><a href="{{ get_url(path="") }}#links">Links</a></li>
            <li><a href="https://github.com/cooltexts/cooltexts.github.io/">Github</a></li>
            <li><a href="{{ get_url(path="") }}#about">About</a></li>
        </ul>
    </header>
    <div class="main">
        {% block content %} {% endblock %}
    </div>
</body>